{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>PS2 Games</title>
    
        <!-- O link abaixo carrega o arquivo css de style para o base.html  -->
    <link 
        rel="stylesheet"
        href="{% static 'ps2/style.css' %}"
    >

</head>


<body>


    <!-- ==================================================
         PS2 BACKGROUND
    ================================================== -->

    <div class="ps2-background">

        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>

    </div>


    <!-- ==================================================
         HEADER
    ================================================== -->

    <header>

        <nav>


            <!-- LOGO -->

            <a
                href="{% url 'games_list' %}"
                class="logo"
            >

                <div class="logo-symbol">
                    PS2
                </div>

                <div>

                    PS2
                    <span>GAMES</span>

                </div>

            </a>


            <!-- MENU -->

            <ul>

                <li class="active">

                    <a
                        href="{% url 'games_list' %}"
                    >

                        🎮 Jogos

                    </a>

                </li>

                <li class="active">
                    <a href="{% url 'favorite_list' %}">
                        ⭐ Favoritos
                    </a>
                </li>
                
                <li class="active">
                    <a href="{% url 'new_game' %}">
                        👾 Adicionar jogo
                    </a>
                </li>

            </ul>


        </nav>

    </header>


    <!-- ==================================================
         CONTENT
    ================================================== -->

    <main>

        {% block content %}

        {% endblock %}

    </main>


    <!-- ==================================================
         FOOTER
    ================================================== -->

    <footer>

        <p>

            &copy; 2026

            <strong>
                Caspoti Dev
            </strong>

            — PS2 Games Collection

        </p>

    </footer>


</body>

</html>
